.nfd-root {
  .nfd-modal.no-overlay {
    .nfd-modal__overlay {
      display: none;
    }
  }
  .nfd-feature-upsell.hide-html {
    .nfd-flex {
      background-color: rgb(255 255 255 / 0.5);
    }
  }
  .nfd-button-xl {
    padding: 1rem 1.75rem !important;
    font-size: 1.05rem !important;
  }
}