:root {
    // Primary
    --color-primary: #196BDE;
    --color-primary-dark: #1A4884;
    --color-primary-light: #CCDCF4;
    --color-primary-lighter: #949FB1;
    // Secondary
    --color-secondary: #FCD34D;
    --color-secondary-dark: #E9B404;
    --color-secondary-light: #FEF6D9;
    --color-secondary-lighter: #FEF6D9;
    // UI
    --color-title: #0F172A;
    --color-text: #4A5567;
    --color-link: #2271B1;
    --color-border: #E2E8F0;
    --color-success: #388E3C;
    --color-warning: #F57C00;
    --color-error: #D32F2F;
    // Contrast
    --color-white: #FFFFFF;
    --color-off-white: #F0F0F5;
    --color-black: #000000;
    --color-success-contrast: #DFF2E0;
    --color-warning-contrast: #FFE3C6;
    --color-error-contrast: #F6D3D3;
    --color-canvas: #F1F5F9;

    --color-mid: #91BEF7;
    --color-mid-dark: #68A5F2;
    // --color-mid-dark: #2B6CB0;

    --color-blue: #336AD7;
    --color-blue-dark: #1B4393;
    --color-blue-light: #EAF4FB;
    --color-blue-lighter: #F0F5FF;
}

html {
    @media screen and (min-width: 782px) {
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }
}

body.toplevel_page_bluehost {
    --wp-admin-theme-color: var(--color-primary);
    --wp-admin-theme-color-darker-10: var(--color-primary-dark);
    --wp-admin-theme-color-darker-20: var(--color-title);
    --wp-admin-border-width-focus: 2px;
    --bluehostbrand-focus: inset 0 0 0 1px var(--color-white), 0 0 0 var(--wp-admin-border-width-focus) var(--color-primary);
    background-color: var(--color-canvas);

    a {
        color: var(--color-link);
    }

    @media screen and (max-width:782px) {
        .wp-responsive-open #wpbody {
            right: -190px; // only when mobile admin menu open
        }
    }

    #wpwrap {
        background-color: var(--color-canvas);
    }

    #wpcontent {
        padding-left: 0 !important;
    }

    #wpadminbar .ab-top-menu {
        li {
            transition: opacity .33s ease;
        }

        .hideme {
            max-height: 32px;
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            width: 0;
        }
    }

    #wpbody-content .notice,
    #wpbody-content #dolly,
    #wpbody-content .update-nag {
        display: none;
    }

    #wpbody-content .newfold-notifications-wrapper .notice {
        display: block;
    }

}

.nfd-disabled {
    opacity: .5;
    pointer-events: none;
}

.wppbh {

    /* color: var(--color-text);

    h1, h2, h3, h4, h5, h6 {
        color: var(--color-title);
        font-weight: 700;
    }
    .wppbh-nav a {
        color: var(--color-black);
    }
    p, div {
        color: var(--color-text);
        font-size: 15px;
        font-weight: 400;
        line-height: 1.45;
    } */
    .components-card__body .components-toggle-control .components-base-control__field .components-toggle-control__label,
    .components-card__body .components-input-control__label,
    .components-card__body .components-input-control__label *,
    .components-card__body .components-radio-control__option label strong {
        color: var(--color-text);
    }

    .components-button,
    .nfd-button {
        font-size: 15px;
        font-weight: 500;
        transition: all 0.25s ease;
        white-space: nowrap;

        .dashicons,
        .dashicons-before:before {
            transition: all .25s ease;
        }

        &:focus:not(:disabled) {
            box-shadow: var(--bluehostbrand-focus);
        }

        &.is-primary,
        &.nfd-button-primary,
        &[variant="primary"] {
            background-color: var(--color-primary);
            color: var(--color-white);
        }

        &.is-secondary,
        &.nfd-button--secondary,
        &[variant="secondary"] {
            border-color: var(--color-primary);
            color: var(--color-primary);
            background: none;

            &:hover {
                color: var(--color-primary);
            }
        }


        &:last-child {
            padding-right: 1rem;
            /* <= WP 5.8 */
        }

        &.has-icon {
            padding-right: 1rem;

            .dashicon {
                margin-right: 10px;
                /* <= WP 5.6 */
            }
        }
    }

    a:focus {
        box-shadow: var(--bluehostbrand-focus);
        outline: 0;
    }

    .components-base-control__help,
    .components-radio-control__option label span span {
        color: var(--color-text);
        margin-top: 0.25rem;
    }
}

.wppbh,
.wppbh * {
    box-sizing: border-box;
}

// .wppbh-app-body {
//     padding: 18px 24px 0;
//     &-inner {
//         max-width: 1290px;
//         margin-left: auto;
//         margin-right: auto;
//         width: 100%;
//     }
// }

.components-snackbar__content {
    color: var(--color-off-white) !important;
}

.grid {
    display: grid;
    gap: clamp(0.5rem, calc(1rem + 1vw), 2rem);
    padding: 0.5rem;

    &.col2,
    &.col3,
    &.col4 {
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &.col3,
    &.col4 {
        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &.col4 {
        @media screen and (min-width: 1020px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

.wppbh-app-snackbar {
    padding: 0 24px;
    position: relative;

    .components-snackbar-list {
        bottom: .5rem;
        position: fixed;
    }
}


.has-page-graphic {
    padding-bottom: 26rem;
}

.wppbh-page-graphic {
    bottom: 3.5rem;
    opacity: .5;
    position: absolute;
    right: 1rem;
    z-index: -1;
}

.wppbh {
    .components-card {
        box-shadow: inset 0px 0px 0px 1px var(--color-border);

        &.short {
            margin-bottom: auto;
        }

        &.disabled {
            opacity: .5;
        }
    }

    .components-card-body,
    .components-card__body {

        &.disabled {
            opacity: .5;
        }
    }
}

.newfold-notifications-wrapper {

    .newfold-notification {
        max-width: 1600px;
        margin: 0 auto .75rem;
        transition: opacity .2s ease;

        &:first-of-type {
            margin-top: 1.35rem;
        }

        &.is-dismissed {
            opacity: 0;
        }
    }

    .notice {
        margin: 0;
    }

}

.wppbh-animation-blink {
    animation: blink 2.5s ease 1s 3 normal forwards;
}

@keyframes blink {

    0%,
    50%,
    100% {
        background-color: initial;
    }

    25%,
    75% {
        background-color: #e9f1fd;
    }
}

.coming-soon-status {
    text-transform: uppercase;
}

.nfd-root .wppbh-home {

    .nfd-card-link:not(.nfd-card-link-mini) {
        display: flex;
    }

    .nfd-card-link:not(.nfd-card-has-bg) {
        .nfd-card {
            transition: all 0.5s ease;
        }

        .nfd-title,
        .nfd-button {
            transition: color 0.5s ease, background-color 0.5s ease;
        }

        p {
            color: var(--color-text);
        }

        svg:not(.nfd-bg-img) path {
            stroke-width: 1.5;
            stroke: var(--color-text);
            transition: all 0.5s ease;
        }

        svg.nfd-bg-img path {
            stroke-width: .3;
        }

        &:hover .nfd-card:not(.nfd-card-has-bg) {
            background-color: var(--color-blue-lighter);
            border-color: var(--color-blue);

            .nfd-title {
                color: var(--color-blue);
            }

            svg path {
                stroke: var(--color-blue);
            }
        }
    }

    .nfd-card.nfd-card-has-bg {
        transition: all 0.5s ease;
        min-width: 100%;
        min-height: 320px;

        .nfd-card__content {
            position: relative;

            .nfd-bg-img {
                position: absolute;
                z-index: 0;
                width: 60%;
                height: auto;
                right: -1rem;
                bottom: -1rem;
            }

            .nfd-title,
            p,
            .nfd-card-bottom {
                z-index: 1;
            }

            .nfd-button {
                position: absolute;
                bottom: 0;
            }
        }
    }

    .nfd-card.nfd-card-mid {
        background-color: var(--color-mid);
        border-color: var(--color-mid);

        .nfd-title,
        p {
            color: var(--color-black) !important;
        }

        .nfd-button {
            background-color: var(--color-black);
        }

        &:hover {
            background-color: var(--color-mid-dark);
            border-color: var(--color-mid-dark);

            .nfd-button {
                background-color: var(--color-black);
            }
        }
    }

    .nfd-card.nfd-card-dark {
        background-color: var(--color-blue);
        border-color: var(--color-blue);

        .nfd-title,
        p {
            color: var(--color-white) !important;
        }

        .nfd-button {
            background-color: var(--color-blue-dark);
        }

        &:hover {
            background-color: var(--color-blue-dark);
            border-color: var(--color-blue-dark);

            .nfd-button {
                background-color: var(--color-black);
            }
        }
    }

    .nfd-card-link-mini {

        .nfd-arrow {
            opacity: 0;
            fill: var(--color-primary);
            padding-right: 1rem;
            transition: all 0.5s ease;
        }

        .nfd-card-hover-cta {
            opacity: 0;
            transition: opacity 0.25s ease;
        }

        &:hover {

            p {
                color: var(--color-primary);
            }

            .nfd-arrow {
                opacity: 1;
                padding-right: 0;
            }

            .nfd-card-hover-cta {
                opacity: 1;
            }
        }


    }

    .nfd-no-stroke {
        path {
            stroke: none !important;
        }
    }
}


.wppbh-app-marketplace-page {
    .nfd-marketplace-sidebar ul {
        margin-left: 0 !important;
    }

    .nfd-marketplace-categories .nfd-select.nfd-marketing-page-category-selector .nfd-select__options {
        width: auto !important;
    }

    // TODO: generate these via tailwind config
    // These styles should not be needed but tailwind doesn't seem to be adding these
    .nfd-flex-col {
        flex-direction: column !important;
    }

    @media (min-width: 768px) {
        .md\:nfd-flex-row {
            flex-direction: row !important;
        }

        .md\:nfd-grid-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        }
    }

    @media (min-width: 1120px) {
        .min-\[1120px\]\:nfd-grid-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        }
    }

    @media (min-width: 1400px) {
        .min-\[1400px\]\:nfd-grid-cols-3 {
            grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
        }
    }
}

#nfd-portal-apps {
    display: none;
}

.wppbh-app-settings-page {
    min-width: 100%;
}

.settings-app-wrapper {
    width: 100%;
}

.performance-fill {
    .nfd-page {
        &>div:first-child {
            display: none;
        }
    }
}

.staging-fill {
    .nfd-page .newfold-staging-header {
        display: none;
    }
}

.settings-details {}

.nfd-root .nfd-details {

    summary {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 2rem;
    }

    .nfd-details-icon {
        font-size: 2rem;
        transform: rotate(180deg);
        width: 2rem;
        transition: color 0.25s ease;
    }

    &[open] {
        .nfd-details-icon {
            transform: rotate(0deg);
        }
    }

    &:hover,
    &[open] {
        .nfd-details-icon {
            color: var(--color-primary);
        }
    }
}